/*  
 * The descendant combinator (an empty space)
 * The child combinator (>)
 * The adjacent sibling combinator (+)
 * The general sibling combinator (~)
 */

/* Descendant and child selectors handle elements below other elements
 * to selec elements that are next to another element use Adjacency Selectors.

 * Here selects the paragraphs that are next to the <h3> tags 
 */
h3 + p{
  font-style: italic;
}
/* Here you would read this as "The paragraph next to the paragraph next to the
 * paragraph next to the header".
 */
h3 + p + p + p{
  font-weight: bold;
}

/* Selects all of the paragraphs NEXT TO and AFTER the h3 headers */ 
h3 ~p {
 color: blue;
}
/* The combinator is the empty space used in standard selectors:
 * this descendant selector selects every <li> under <ul>
*/

ul li { margin-top: 1em ; }

/* this rule selects any list that is a child of the div and the list item 
 * children of the list.
 *
 */
div > ul > li {
  border: 1px solid red;
  background-color: #eeeeee;
}

/* this rule selects the list items of the inner list
 */
div > ul > li > ul > li{
  border: 1px solid blue;
  margin-left: 10px;
  background-color: white;
}
